# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# PlatformIO / ESP32
.pio/
.pioenvs/
.piolibdeps/
*.elf
*.bin
*.hex
esp32_firmware/.pio/

# VS Code & IDEs
.vscode/
*.code-workspace
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
